@mixin arrow_button($bgcolor : white, $width : 200px, $height : 100px, $arrowlength : 30px){

    position: relative;
    width: $width;
    height: $height;
    background-color: $bgcolor;
    border: 0;
    border-radius: 0;

    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: $width;
        width: 0;
        height: 0;
        border: ($height / 2) solid transparent;
        border-left: $arrowlength solid $bgcolor;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: $width;
        width: 0;
        height: 0;
        border: ($height / 2) solid transparent;
        border-left: $arrowlength solid $bgcolor;

    }
}