/*
 * Styles common across all sites that need customizing
 * Updated 1/28/16
 */

a{

    &:hover{
        color:inherit;
    }

    &:active{
        color:inherit;
    }

    &:visited{
        color:inherit;
    }
}

@include selection{
    background-color: initial;
}

img{
    max-width:100%;
}